<a [routerLink]="['center', 'new']">Add Center</a>
<table *ngIf="centers && centers.length">
  <thead>
    <tr>
      <th>Center Name</th>
      <th>Address</th>
      <th>Center ID</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let c of centers"
        [routerLink]="['center', c.id]">
      <th>{{c.name}}</th>
      <th>{{c.address}}</th>
      <th>{{c.center_id}}</th>
    </tr>
  </tbody>
</table>
