<form (ngSubmit)="onSubmit()"
      *ngIf="center">
  <label>
    <p>Center Name</p>
    <input type="text"
           placeholder="ex) Machida branch"
           name="name"
           [(ngModel)]="center.name"/>
  </label>
  <label>
    <p>Address</p>
    <input type="text"
           placeholder="ex) Tokyo, Machida"
           name="address"
           [(ngModel)]="center.address"/>
  </label>
  <label>
    <p>Center ID</p>
    <input type="text"
           placeholder="ex) D0000001"
           name="centerId"
           [(ngModel)]="center.center_id"/>
  </label>
  <div [hidden]="center.isNew">
    <label>
      <input type="checkbox"
             name="modifyPassword"
             [(ngModel)]="center.modifyPassword"/>
      Change password
    </label>
  </div>
  <div [hidden]="!center.showPassword">
    <label>
      <p [hidden]="!center.isNew">Password</p>
      <div>
        <input type="text"
               placeholder="Password"
               name="password"
               [(ngModel)]="center.password"/>
        <span [hidden]="center.validPass">
          Miss match with the password and the retyped.
        </span>
      </div>
      <div>
        <input type="text"
               placeholder="Re type password"
               name="password1"
               [(ngModel)]="center.password1"/>
      </div>
    </label>
  </div>

  <div>
    <input type="reset" class="btn" value="Cancel" (click)="onCancel()"/>
    <input type="reset" class="btn" value="Delete" (click)="onDelete()"/>
    <button type="submit" class="btn"
            [disabled]="!center.valid">
      {{center.isNew ? "Add Center" : "Modefy Center"}}
    </button>
  </div>
</form>
