Durdans Lab Report System
<form (ngSubmit)="onSubmit()">
  <div class="fail" [hidden]="!failLogging">
    The User ID or Password is incorrect.
  </div>

  <div class="input-group">
    <input type="text"
           name="userId"
           placeholder="User ID"
           [(ngModel)]="user.userId" />
  </div>

  <div class="input-group">
    <input type="password"
           name="password"
           placeholder="Password"
           [(ngModel)]="user.password" />
  </div>

  <button type="submit" class="btn"
          [disabled]="!user.valid">
    Login
  </button>
</form>

