<h1 class="form-signin-heading">dReport</h1>
<h5 class="form-signin-heading">Durdans Lab Report System</h5>
<form class="form-signin"
      (ngSubmit)="onSubmit()">
  <div class="fail" [hidden]="!failLogging">
    The User ID or Password is incorrect.
  </div>
  <label for="inputEmail" class="sr-only">User ID</label>
  <input type="text"
         id="inputEmail"
         class="form-control"
         placeholder="User ID"
         name="userId"
         [(ngModel)]="user.userId"
         required
         autofocus/>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password"
         id="inputPassword"
         class="form-control"
         placeholder="Password"
         name="password"
         [(ngModel)]="user.password"
         required/>
  <!-- <div class="checkbox"> -->
  <!--   <label> -->
  <!--     <input type="checkbox" value="remember-me"> Remember me -->
  <!--   </label> -->
  <!-- </div> -->
  <button class="btn btn-lg btn-danger btn-block"
          [disabled]="!user.valid"
          type="submit">Sign in</button>
</form>
