<table *ngIf="centers && centers.length" class="table center-list">
  <thead>
    <tr>
      <th class="fit"></th>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th class="fit"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of centers; let i = index">
      <th (click)="goCenter(c)" scope="row">{{i+1}}</th>
      <th (click)="goCenter(c)">{{c.user_id}}</th>
      <th (click)="goCenter(c)">{{c.name}}</th>
      <th (click)="goCenter(c)">{{c.address}}</th>
      <td (click)="onDelete(c, $event)">
        <button class="delete-button">
          <img src="/assets/graphics/delete.svg"/>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<!-- <a [routerLink]="['center', 'new']">Add Center</a> -->
<button class="add-button" [routerLink]="['center', 'new']">
  <img src="/assets/graphics/add.svg">
</button>
