<form class="form-horizontal form-add-center"
      (ngSubmit)="onSubmit()"
      *ngIf="center">
  <div class="form-add-center-heading">
    <h3>Add Center</h3>
    <h5>Please input the center informations</h5>
  </div>
  <div class="form-group">
    <label for="inputCenterID">Center ID</label>
    <input type="text"
           name="center_id"
           id="inputCenterID"
           class="form-control"
           placeholder="Center ID"
           [(ngModel)]="center.center_id"
           required />
  </div>
  <div class="form-group">
    <label for="inputCenterName">Center Name</label>
    <input type="text"
           name="name"
           id="inputCenterName"
           class="form-control"
           placeholder="Center Name"
           [(ngModel)]="center.name"
           required>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text"
           name="address"
           id="inputAddress"
           class="form-control"
           placeholder="Address"
           [(ngModel)]="center.address"
           required>
  </div>

  <div [hidden]="center.isNew">
    <label>
      <input type="checkbox"
             name="modifyPassword"
             [(ngModel)]="center.modifyPassword"/>
      Change password
    </label>
  </div>

  <div class="form-group" *ngIf="center.showPassword">
    <label for="inputPassword">Password</label>
    <input type="text"
           id="inputPassword"
           class="form-control"
           placeholder="Password"
           name="password"
           [(ngModel)]="center.password"
           required>
    <label for="inputConfirmPassword" class="sr-only">Password</label>
    <input type="text"
           id="inputConfirmPassword"
           class="form-control confirm-password"
           placeholder="Confirm Password"
           name="password1"
           [(ngModel)]="center.password1"
           required>
  </div>
  <div class="form-group">
    <div style="float:left">
      <button class="btn btn-danger"
              type="submit"
              [disabled]="!center.valid">
        {{center.isNew ? "Add Center" : "Modefy Center"}}
      </button>
    </div>
    <div style="float:right">
      <button class="btn btn-default" type="reset" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</form>
