<div>
  <div *ngIf="center">
    <div>
      <p>Center</p>
      <p>{{center.name}}</p>
    </div>
    <div>
      <p>Center ID</p>
      <p>{{center.center_id}}</p>
    </div>
    <div>
      <p>Address</p>
      <p>{{center.address}}</p>
    </div>
  </div>

  <div>
    <form (ngSubmit)="onSubmit()">
      <label>
        <p>Receipt Number</p>
        <input type="text"
               name="recipt-number"
               [(ngModel)]="receiptNumber"/>
      </label>
      <button type="submit"
              class="btn"
              [disabled]="!valid">
        Download
      </button>
    </form>
  </div>

  <div id="pdf-container">
  </div>
</div>
