body {
  padding-top: 60px;
  padding-bottom: 40px;
}

/* signin */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin-heading {
  margin-bottom: 10px;
  text-align: center;
}
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* navbar */
.navbar-inverse {
  color: #fff;
  background-color: #e74c3c;
  border-color: #c0392b;
}
.navbar-inverse .navbar-brand {
    color: #eee;
}
.navbar-inverse .navbar-nav>li>a {
    color: #eee;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #c0392b;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #c0392b;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #c0392b;
}
.navbar-inverse .navbar-toggle {
    border-color: #c0392b;
}
.navbar-header a {
  font-size: 25px;
}

/* center list */
.container table {
  margin-top: 20px;
  margin-bottom: 0px;
}
.center-list tbody tr:hover {
  background: #ffe0dd;
}
.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}
.add-button {
  padding: 0;
  background: none;
  border: none;
}
.delete-button {
  padding: 0;
  background: none;
  border: none;
  margin: 0;
}

/* add center */
.form-add-center {
  max-width: 330px;
  margin: 0 auto;
}
.form-add-center .form-add-center-heading {
  margin: 40px auto;
  text-align: center;
}
.form-add-center .confirm-password {
  margin-top: -1px;
}

/* modify center */
.form-modify-center {
  max-width: 330px;
  margin: 0 auto;
}
.form-modify-center .form-modify-center-heading {
  margin: 40px auto;
  text-align: center;
}
.form-modify-center .confirm-password {
  margin-top: -1px;
}