<label>
  <h1>Invoice Number</h1>
  <input type="text"
         name="recipt-number"
         [(ngModel)]="receiptNumber"/>
</label>

<table class="table invoice-list"
       *ngIf="invoices && invoices.length">
  <thead>
    <tr>
      <th>Date</th>
      <th>Patient Registration Number</th>
      <th>Sub Specimen Description</th>
      <th class="fit"></th>
      <th class="fit"></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let invoice of invoices">
      <th>{{invoice.date}}</th>
      <th>{{invoice.registrationNumber}}</th>
      <th>{{invoice.description}}</th>
      <th>
        <button class="btn" (click)="openPDF(invoice.id)">
          Open
        </button>
      </th>
      <th>
        <a href="/api/pdf/{{invoice.encodedId}}?uhid={{invoice.registrationNumber}}" download>
          <button class="btn">
            Download
          </button>
        </a>
      </th>
    </tr>
  </tbody>
</table>
